body{
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
.body{
  display: flex;
  flex-direction: column;
}
.hero{
  background: #1F2937;
  color: #F9FAF8;

  min-width: 500px;
  overflow-x: scroll;
  
}

.header{
  display: flex;
  gap: 40px;
  margin: 0 150px 0 150px;
}

.push-left{
  margin-right: auto;
  font-weight: bold;
  font-size: 24px;
}

.content-1{
  display: flex;
  margin: 100px 150px 100px 150px;
  gap: 270px;
  flex: 1;
 
  
}
.hero-main-text{
  max-width: 340px;
  font-size: 48px;
  color: #F9FAF8;

}

.hero-secondary-text{
  font-size: 18px;
  max-width: 500px;
  color:#E5E7EB;
}
.ocean-pic{
  width: 400px;
}

.sign-up-button{
  background-color: #3883F6;
  color: white;
  border: none;
  padding: 5px 27px 5px 27px;
  border-radius: 4px;
  cursor: pointer;
  
}

.section-1-header{
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.ocean-pic-2{
  width: 250px;
}

.containers{
  display: flex;
  gap: 24px;
  margin: 15px 0px 100px 0px;
  justify-content: center;
  align-items: center;
}

.text{
  max-width: 250px;
}

.section-2{
  background-color: #E5E7EB;
}

.quote{
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-weight: lighter;
  padding: 140px 200px 50px 360px;
  width: 800px;
}

.thor{
  margin:10px 0px 40px 600px;
  font-weight: bold;
  font-size: 20px;
  font-style:normal;
}


.section-3{
  background: #3882F6;
  color:#F9FAF8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  line-height: 5px;
  padding: 30px 120px 30px 120px;
  margin: 100px 200px 100px 200px;
  
}

.description{
  font-weight: lighter;
}

.sign-up-button-2{
 color: #F9FAF8;
 border-color: #F9FAF8;
 border-radius: 6px;
 padding: 5px 30px 5px 30px;
 background-color:#3882F6;
 border-style: solid;
}

.footer{
  background:#1F2937;
  color:#F9FAF8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}